@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

body {
  background-color: #1f2937;
  color: #b1ddf1;
  font-family: 'Noto Sans', sans-serif;
}
html{
  scroll-behavior: smooth;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #b1ddf1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #1f2937; 
}
